.about {
  // height: 700px;
  min-height: 700px;
  background: $GRADIENT;
  background-size: cover;
  .container {
    @include flex(center, center);
    padding-top: 40px;
  }
  &__img {
    position: relative;
    right: 52px;
    margin-right: 45px;
  }
  &__info {
    max-width: 500px;
    position: relative;
    top: -22px;
    left: -27px;
  }
  &__title {
    @include text($H90, 700, $WHITE);
    font-family: $base-font;
  }
  &__text {
    @include text($H17, 300, $WHITE);
    font-family: $base-font;
    line-height: 1.6;
    margin-bottom: 13px;
  }
}
