.header {
  position: relative;
  width: 100%;
  min-height: 1000px;
  background-image: url(../images/header-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}