.article {
  &__subtitle {
    @include text($H20, 400, $SUBTITLE-COLOR);
    text-transform: uppercase;
    margin-bottom: 44px;
  }
  &__title {
    @include text($H78, 400, $BLACK);
    text-transform: uppercase;
  }
  &__title-text{
    @include text($H30, 400, $BOTTOM-SUBTITLE-COLOR);
    font-style: italic;
    font-family: $second-font;
    margin-bottom: 60px;
  }
  &__text {
    @include text($H27, 400, $BLACK);
    font-family: $second-font;
    padding-bottom: 40px;
    &-italic {
      font-style: italic;
      font-family: $second-font;
    }
  }
}