@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700;900&display=swap");

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MYRIADPRO-REGULAR.ttf") format("truetype"),
    url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"),
    url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@import "./vars";
@import "./common";
@import "./mixins";

//components
@import "./components/header";
@import "./components/logo";
@import "./components/header-nav";
@import "./components/nav";
@import "./components/baner";
@import "./components/button";
@import "./components/scroll";
@import "./components/about";