$LISBON:#3399CC;
$PARIS: #33CCCC;
$BELGRADE: #996699;
$MOSCOW: #C24747;
$LEL-AVIV: #E2674A;
$CAIR: #FFCC66;
$NEW-YORK: #99CC99;
$NEW-DELHI: #669999;
$SAN-FRANCISCO: #CC6699;
$TOKYO: #339966;
$SYDNEY: #666699;
$BORDER-COLOR: #2B81AC;


$color-list: #3399CC, #33CCCC, #996699, #C24747, #E2674A, #FFCC66, #99CC99, #669999, #CC6699, #339966, #666699;
