.gallery {
  text-align: center;
  background-color: $GALLERY-BG-COLOR;
  &__title {
@include text($H90, 700, $BLACK);
padding-top: 100px;
margin-bottom: 26px;

  }
  &__description {
    @include text($H17, 300, $BLACK);
    line-height: 1.5;
    // margin-bottom: 50px;
    text-align: center;
    max-width: 607px;
    margin: 0px auto 50px;
    padding: 0px 15px;
    
  }
}