//colors
$WHITE: #fff;
$BLACK: #000;
$FORM-ACTIVE-COLOR: #355b82;
$FORM-BG-COLOR: rgb(0, 196, 196);

// background-color: rgb(0, 196, 196);
//   opacity: 0.502;



//sizes
$base-font:'Raleway', sans-serif;
$logo-font:'Pacifico', cursive;
$base-font-size: 16px;

@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$H90: calcRem(90px);
$H25: calcRem(25px);
$H20: calcRem(20px);
$H17: calcRem(17px);
$H16: calcRem(16px);
$H15: calcRem(15px);